$bg-negro: rgb(38, 35, 35);
$primario-marron:rgba(60, 35, 19, 1);
$color-secundario: rgba(240, 168, 62, 1);
$color-font: rgb(255,255,255);
$bg-carta: rgb(251, 250, 246);
$gris-oscuro:rgb(138, 135, 135);
