@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&display=swap');

* {
    font-family: 'Arimo', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

body a {
    color: white;
    text-decoration: none;
}

/*nav top*/
.top {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 0px 25px 0px 25px;
    background-color: #222;
    align-items: center;
    color: white;
}
.top ul li{
    list-style: none;
    margin: 10px;
    display: flex;
    
}

/*estilos del header*/
header {
    background: #F0A83E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    flex-wrap: wrap;
}

header div {
    width: 400px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5px;
}
header div ul{
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
}

/*estilos del baner*/
.banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 500px;
    width: 100%;
    background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding-right: 40px;
}

.texto {
    text-align: center;
    color: #3C2313;
}

.texto h1 {
    background-color: #fff;
    border-radius: 5px;
    height: 54px;
    box-sizing: border-box;
    line-height: 2;
    padding: 0px 10px 0px 10px;
}

.comedero button {
    background-color: #F0A83E;
    width: 141px;
    height: 49px;
    line-height: 1.5;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
}

/*imagen de patita en el medio*/
.patita {
    width: 67px;
}

/*enlaces de productos*/
.productos {
    display: flex;
    flex-direction: column;
}

.enlaces a {
    color: black;
    text-decoration: underline;
}

/*tarjetas de catalogo de juguetes*/
.juguete {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
    margin-top: 2rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.dorado {
    color: #F0A83E;
    font-size: 15px;
    font-weight: 700;
}

.juguete article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FBFAF6;
    margin: .25rem;
    box-shadow: 0px 4px 4px orange, 0px 4px 4px rgb(70 68 68);
    border-radius: 15px;
}

/*formulario principal*/
.formulario label {
    line-height: 3;
    color: #3C2313;
    font-size: 25px;
    font-weight: 700;
}

.formulario form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

form button {
    margin-bottom: 5px;
}

form input {
    margin-bottom: 5px;
    background-color: #3C2313;
    border-radius: 10px;
    height: 40px;
    width: 340px;
    padding-left: 15px;
}

.botones {
    display: flex;
    flex-direction: row;
    width: 235px;
    justify-content: space-around;
}

.botones button {
    width: 110px;
    height: 34px;
    border-radius: 15px;
    color: white;
    border: none;
    margin-top: 1rem;
    font-size: 15px;
}

.b1 {
    background-color: #8a8787;
}

.b2 {
    background-color: #F0A83E;
}

/*invitación a suscripción*/
.suscripcion {
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.invitacion {
    display: flex;
    justify-content: space-around;
    width: 370px;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.correo input {
    height: 40px;
    border-radius: 10px;
    border: 0px;
    width: 250px;
}

.correo button {
    height: 35px;
    border-radius: 10px;
    border: 0px;
    background-color: #3C2313;
    color: white;
}

/*estilos del footer y datos de la empresa*/
.datos {
    background-color: #3C2313;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}
.datos img{
    margin:0;
}
.empresa {
    background-color: #222;
    display: flex;
    width: 100%;
    justify-content: center;
    color: white;
    font-weight: 700;
}

.contacto {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.contacto div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

.contacto div p {
    color: white;
    width: 137px;
}

p span {
    font-weight: 700;
    text-transform: uppercase;
}

@media (min-width: 0px) and (max-width: 769px) {
    .top{
        display: none;
    }
    .suscripcion{
        flex-direction: column;
    }
    .datos{
        flex-direction: column;
    }
    .datos .logo{
        margin:2rem .5rem 1rem .5rem;
    }
    
    .botones{
        width: 100vw;
    }
    .botones button{
        width: 30vw;
        height: 8vh;
        font-size: 20px;
    }
}
